<p>studlist works!</p>
<body>
    <br>
    <div style="align-items: center;">
        <button (click)="AddStudent()">Add Student</button>
    </div><br><br>
    <table id="table">
        <tr id="tr">
            <th id="th" rowspan="1" colspan="1">ID</th>
            <th id="th" rowspan="1" colspan="1">name</th>
            <th id="th" rowspan="1" colspan="1">Lastname</th>
            <th id="th" rowspan="1" colspan="1">email</th>
            <th id="th" rowspan="1" colspan="1">password</th>
            <th id="th" rowspan="1" colspan="1">Dob</th>
            <th id="th" rowspan="1" colspan="1">address</th>
            <th id="th" rowspan="1" colspan="1">city</th>
            <th id="th" rowspan="1" colspan="1">edit</th>
            <th id="th" rowspan="1" colspan="1">delete</th>
        </tr>
        <tr *ngFor = "let s of studDate">
           <td id="td" rowspan="1" colspan="1">{{s.id}}</td>
           <td id="td" rowspan="1" colspan="1">{{s.name}}</td>
           <td id="td" rowspan="1" colspan="1">{{s.lname}}</td>  
           <td id="td" rowspan="1" colspan="1">{{s.email}}</td>
           <td id="td" rowspan="1" colspan="1">{{s.psw}}</td>
           <td id="td" rowspan="1" colspan="1">{{s.dob}}</td>
           <td id="td" rowspan="1" colspan="1">{{s.address}}</td>  
           <td id="td" rowspan="1" colspan="1">{{s.city}}</td>
           <td id="td" rowspan="1" colspan="1"><button (click)="Editstud(s.id)">Edit</button></td> 
           <td id="td" rowspan="1" colspan="1"><button (click)="deleteStud(s.id)">Delete</button></td>  
        </tr>     
    </table>
</body>
    